
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}


.header-img {
  background-image:url(../images/royHead.JPG); 
  margin: 0;
  background-attachment:fixed;
  background-size:cover;
  height:947px;
  position: relative;
}

.nav-nav-scroll {
  background-color: rgb(134, 134, 134, 0.2);
  text-align: center;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 1 ;
}

.nav-button {
  padding: 5px 15px 5px 15px;
  font-size: 20px
}


.card-deck {
    margin: 50px 0 50px 0;
}

.about-p{
  line-height: 2;
  font-weight: bold;
  font-size: 17px
}

.paragraph {
  margin:0 100px 0 100px;
}

  #p-col1 {
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    max-width: 60%;
    padding: 0 4px;
  }
  #p-col2 {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    max-width: 40%;
    padding: 0 4px;
  }

  #p-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  #img-right {
    margin-top: 16px;
    vertical-align: center;
    width: 55%;
  }

  .us-image {
    width: 75%
  }


#header-card {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255)
}

.info {
    background-color: rgb(207, 211, 214);
    text-align: center;
}



#contact {
    background-color: rgb(207, 211, 214);
    text-align: center;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: rgb(134, 134, 134)
  }
  
  a:active {
    color: rgb(134, 134, 134)
  }


/* ---------COLUMBS---------*/
  * {
    box-sizing: border-box;
  }

  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .s {
    text-align: center; 
    margin-bottom: 50px; 
    font-size:18px
  }
  .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;

  }
  .about-us {
    margin: 0px 50px 0px 50px;
    line-height: 2
  }

  #map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 950px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    #p-col1 {
      -ms-flex: 100%; /* IE10 */
      flex: 100%;
      max-width: 100%;
      padding: 0 4px;
    }
    #p-col2 {
      -ms-flex: 100%; /* IE10 */
      flex: 100%;
      max-width: 100%;
      padding: 0 4px;
    }
    #img-right {
      margin-top: 16px;
      vertical-align: center;
      width: 100%;
    }
    .paragraph {
      margin:0 5px 0 5px;
    }
    .s {
      text-align: center; 
      font-size:18px;
      margin: 50Px 25px 50px 25px 
    }
    .nav-button {
      padding: 5px 15px 5px 15px;
      font-size: 13px
    }

 
  
  } 
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 767px) {
    .header-img {
      background-image: url(../images/royHeadMobile.jpeg)
    }
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
      
    .column img {
      margin-top: 4px;
      vertical-align: middle;
      width: 100%;
      padding: 0 10px 0 10px;

    }
    #header-card {
      display: flex;
      /* align-items: center; */
      justify-content: center;
      /* text-align: center; */
      background-color: rgba(255, 255, 255);
  }
  }